.textrounded{
  margin: auto;
  width: 10vw; /* adjust as needed */
  height: 10vw; /* adjust as needed */
  aspect-ratio: 1/1;
  border-radius: 50%;
  color: var(--MainBlack);
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-photos-cristina{
  background: url(../images/pictures/cristina_foto_simploy.webp);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size:  cover;
  background-position: top center;
}

.team-photos-thomas{
  background: url(../images/pictures/thomas_foto_simploy.webp);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size:  cover;
  background-position: top center;
}

.team-photos-lucas{
  background: url(../images/pictures/lukas_foto_simploy.webp);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size:  cover;
  background-position: top center;
}

.team-photos-julian{
  background: url(../images/pictures/julian_foto_simploy.webp);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size:  cover;
  background-position: top center;
}

.team-photos-selina{
  background: url(../images/pictures/selina_foto_simploy.webp);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size:  cover;
  background-position: top center;
}