.textrounded {
    margin: auto;
    width: 10vw;
    /* adjust as needed */
    height: 10vw;
    /* adjust as needed */
    aspect-ratio: 1/1;
    border-radius: 50%;
    color: var(--MainBlack);
    display: flex;
    align-items: center;
    justify-content: center;

}

input{
    background-color: #ffffff29;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid var(--MainYellow);
    border-radius: 15px;
    box-sizing: border-box;
  }

  textarea {
      background-color: #ffffff29;
       width: 100%;
       padding: 12px 20px;
       margin: 8px 0;
       display: inline-block;
       border: 3px solid var(--MainYellow);
       border-radius: 15px;
       box-sizing: border-box;
   }