.textrounded {
    margin: auto;
    width: 10vw;
    /* adjust as needed */
    height: 10vw;
    /* adjust as needed */
    aspect-ratio: 1/1;
    border-radius: 50%;
    color: var(--MainBlack);
    display: flex;
    align-items: center;
    justify-content: center;

}

input{
    background-color: var(--MainWhite);
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

