        
        

        .hero{
          margin: 0 5vw !important;
          height: 100vh;
        }
        .heroimg{
          padding-top: 100px;
          margin-bottom: -100px;
        }
       
         /*Nav Bilder*/
        .imgnav{
          margin-top: 70px;
         display: grid;  
         grid-template-columns: repeat(3, 1fr);
         grid-gap: 2vw;
                }

        .bgtext{
          gap: 8px;
          position: relative;
          color:white;
          top: 50%;  
          /*transform: translate(0%, -50%); */
          text-align: center;
        }
        .review-img{
          aspect-ratio: 1/1;
          max-width: 50%;
        }
       
        @media (max-width: 768px) {
        .imgnav{
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(3, 1fr);
        }
        .video{
          margin-top: -30%
        }
        .activities{
          aspect-ratio: 3/1;
        }
        .infos{
          aspect-ratio: 3/1;
        }
        .events{
          aspect-ratio: 3/1;
          /*centers the background gradient, the image -150px*/
          background-position: center, center -150px;
        }

        .funFactsButton{
          display: none !important;
        }
      }
          
  
         
          /*END of Scrolling Parallax*/